#!/usr/bin/make -f

# Uncomment this to turn on verbose mode..
export DH_VERBOSE=1

EXTN=rados
BUILD=$(CURDIR)/debian/php5-$(EXTN)
PHP_EX=$(shell /usr/bin/php-config5 --extension-dir)
PHP_APIVER=$(shell /usr/bin/php-config5 --phpapi)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS = --with-php-config=/usr/bin/php-config5
DEB_MAKE_INSTALL_TARGET =

makebuilddir/php5-$(EXTN)::
	[ -f configure ] || phpize5

cleanbuilddir::
	phpize5 --clean

install/php5-$(EXTN)::
	install -D -m 644 modules/$(EXTN).so $(BUILD)$(PHP_EX)/$(EXTN).so
	install -D -m 644 debian/$(EXTN).ini $(BUILD)/etc/php5/conf.d/$(EXTN).ini
	echo "php:Depends=phpapi-$(PHP_APIVER)" >> $(BUILD).substvars
